---
import {HomeTitle} from "../../react-app/Components/TitleComponent.tsx";
import {DefaultTitle} from "../../react-app/Components/TitleComponent.tsx";
import DefaultImage from "../DefaultImage.astro";
import portfolioImg from "../../assets/portfolioIconPicture.jpg"
import linkedIn from "../../assets/LinkedinLogo.png"
import github from "../../assets/GithubLogo.png"
import Title from "../Title.astro"
import qut from "../../assets/QUTLogo.png"
import {SmallSideParagraph} from "../../react-app/Components/ParagraphComponent";
import {projects} from "../../lib/data/projectData.js";
import {DefaultCard, PictureCard} from "../../react-app/Components/CardComponent"
import RoundProfileImage from "../RoundProfileImage.astro";
import PictureLink from "../PictureLink.astro";
import TagContainer from "../TagContainer.astro"

import "../../react-app/Home/home.css"
import {educationData} from "../../react-app/data/educationData.jsx"
import {skills_tech_tags} from "../../lib/data/skills_techData.js"
const goldenChildren = projects.filter(golden => golden.tags.projectTag.includes("GoldenChild"))

---

<>
   <!-- <HomeTitle title={"Welcome to Peter's Portfolio"} />-->

    <div class="overview justify-items-center">
       <!-- <DefaultImage divclassName={"w-100 h-full shadow-sm md:max-w-lg border-[var(&#45;&#45;soil-umber)] border-9 rounded rounded-2xl " +
            "md:shadow-xl/50 shadow-[var(&#45;&#45;sun-ray)]"} source={portfolioImg} alt={s"Portfolio Photo"} />-->

        <div class="">
            <RoundProfileImage src={portfolioImg} alt={"Portfolio Photo"} size={150}/>
        </div>

        <div class="align-middle w-full">
            <Title className={"text-center font-bold text-[2.5rem]"} title="Peter Erbeni" client:load/>
        </div>

            <div class=" md:shadow-xl/30 shadow-[var(--sun-ray)] p-5">
                <SmallSideParagraph className={"text-[15px] md:text-xl text-center"} para ={"Game Developer based on the Gold Coast & an aspiring Systems Programmer. Experienced with Unity & Unreal Engine"} />
            </div>
            <div class="align-middle h-full flex flex-wrap gap-10">
                <div>
                    <PictureLink source={linkedIn} alt={"LinkedIn Logo"} size={50} uri="https://www.linkedin.com/in/peter-erbeni-615856221/"/>
                </div>
                <div>
                    <PictureLink source={github} alt={"github logo"} size={50} uri="https://github.com/ProggersValentino"/>
                </div>

            </div>


    </div>

    <div class="wood-container md:rounded-2xl h-full">
                <div class="bg-[var(--chestnut-tan)] outline-4 outline-[var(--soil-umber)] rounded-t-2xl">
                    <DefaultTitle className={"text-[var(--amber-sap)] text-shadow-[var(--charcoal)]"} title={"Featured Projects"} client:load/>
                </div>


                <div class="goldenChildren h-full grid-cols-1 md:grid-cols-3 md:w-full p-5">
                    <!--grabs and displays all projects that are tagged goldenchild-->
                    {goldenChildren.map (golden => (
                        <DefaultCard title={golden.title} imgSrc={golden.thumbnailPic} alt={golden.title}
                                     path={golden.path} client:load/>
                    ))}
                </div>
            </div>

            <div class="wood-container md:rounded-2xl h-full" style={{
                marginTop: "5%",
                marginBottom: "5%",
                }}>

                <div class="bg-[var(--chestnut-tan)] outline-4 outline-[var(--soil-umber)] rounded-t-2xl">
                    <DefaultTitle className={"text-[var(--amber-sap)]"} title={"Skills & Technology"} client:load/>
                </div>


                <div class="education h-full grid-cols-3 md:grid-cols-5 md:w-full p-5">
                    {skills_tech_tags.map(tag => (
                        <TagContainer className={""} tagName={tag} />
                    ))}
                </div>
            </div>

    </div>

</>