---
import {HomeTitle} from "../../react-app/Components/TitleComponent.tsx";
import {DefaultTitle} from "../../react-app/Components/TitleComponent.tsx";
import DefaultImage from "../DefaultImage.astro";
import portfolioImg from "../../assets/portfolioIconPicture.jpg"
import linkedIn from "../../assets/LinkedinLogo.png"
import github from "../../assets/GithubLogo.png"
import Title from "../Title.astro"
import qut from "../../assets/QUTLogo.png"
import {SmallSideParagraph} from "../../react-app/Components/ParagraphComponent";
import {projects} from "../../lib/data/projectData.js";
import {DefaultCard, PictureCard} from "../../react-app/Components/CardComponent"
import RoundProfileImage from "../RoundProfileImage.astro";
import PictureLink from "../PictureLink.astro";
import TagContainer from "../TagContainer.astro"
import emailIcon from "../../assets/EmailIcon.png"

import "../../react-app/Home/home.css"
import {educationData} from "../../react-app/data/educationData.jsx"
import {languageTags} from "../../lib/data/skills_techData.js"
import {engineTags} from "../../lib/data/skills_techData.js"
import {platformTags} from "../../lib/data/skills_techData.js"
import {competenciesTags} from "../../lib/data/skills_techData.js"
const goldenChildren = projects.filter(golden => golden.tags.projectTag.includes("GoldenChild"))

---

<>
   <!-- <HomeTitle title={"Welcome to Peter's Portfolio"} />-->

    <div class="overview justify-items-center">
       <!-- <DefaultImage divclassName={"w-100 h-full shadow-sm md:max-w-lg border-[var(&#45;&#45;soil-umber)] border-9 rounded rounded-2xl " +
            "md:shadow-xl/50 shadow-[var(&#45;&#45;sun-ray)]"} source={portfolioImg} alt={s"Portfolio Photo"} />-->

        <div class="">
            <RoundProfileImage src={portfolioImg} alt={"Portfolio Photo"} size={150}/>
        </div>

        <div class="align-middle w-full">
            <Title className={"text-center font-bold text-[2.5rem]"} title="Peter Erbeni" client:load/>
        </div>

            <div class="bg-[var(--color-surface)] rounded-xl md:shadow-xl/30 shadow-[var(--sun-ray)] p-5">
                <SmallSideParagraph className={"text-[15px] md:text-xl text-center"} para ={"Game developer experienced in Unity & Unreal Engine"} />
            </div>
            <div class="align-middle h-full flex flex-wrap gap-10">
                <div>
                    <PictureLink source={linkedIn} alt={"LinkedIn Logo"} size={50} uri="https://www.linkedin.com/in/peter-erbeni-615856221/"/>
                </div>
                <div>
                    <PictureLink source={github} alt={"github logo"} size={50} uri="https://github.com/ProggersValentino"/>
                </div>
                <div>
                    <PictureLink source={emailIcon} alt={"github logo"} size={50} uri="mailto:petersv.erbeni@gmail.com"/>
                </div>

            </div>


    </div>

    <div>

    </div>
    <div class="bg-[var(--color-surface)] md:rounded-2xl h-full">
                <div class=" rounded-t-2xl">
                    <DefaultTitle className={"text-[var(--color-accent-secondary)] text-shadow-[var(--charcoal)]"} title={"Featured Projects"} client:load/>
                </div>

                <div class="absolute z-999 bg-blue-500 w-full"></div>

                <div class="goldenChildren  h-full grid-cols-1 md:grid-cols-3 md:w-full p-5">
                    <!--grabs and displays all projects that are tagged goldenchild-->
                    {goldenChildren.map (golden => (
                        <DefaultCard title={golden.title} imgSrc={golden.thumbnailPic} alt={golden.title}
                                     path={golden.path} client:load/>
                    ))}
                </div>
    </div>

    <div class=" bg-[var(--color-surface)] md:rounded-2xl h-full shadow-xl/30" style={{
                marginTop: "5%",
                marginBottom: "5%",
                }}>

                <div class=" rounded-t-2xl">
                    <DefaultTitle className={"text-[var(--color-accent-secondary)] text-shadow"} title={"Skills & Technology"} client:load/>
                </div>


                <div class="education h-full grid-cols-3 md:grid-cols-5 md:w-full p-5">
                    {languageTags.map(tag => (
                        <TagContainer textClass={""} className={"border-[var(--color-tag-4)] bg-[var(--color-tag-4-lighter)]/20"} tagName={tag} />
                    ))}

                    {engineTags.map(tag => (
                            <TagContainer className={"border-[var(--color-tag-2)] bg-[var(--color-tag-2-darker)]/20"} tagName={tag} />
                    ))}

                    {platformTags.map(tag => (
                            <TagContainer className={"border-[var(--color-tag-1)] bg-[var(--color-tag-1-darker)]/20"} tagName={tag} />
                    ))}

                    {competenciesTags.map(tag => (
                            <TagContainer className={"border-[var(--color-tag-3)] bg-[var(--color-tag-3-darker)]/20"} tagName={tag} />
                    ))}

                </div>
    </div>


</>