---
import {OneActionButton} from "../react-app/Components/ButtonComponent";
import {CardTitleCustomClass} from "../react-app/Components/TitleComponent.jsx";
import {DefaultParagraph} from "../react-app/Components/ParagraphComponent.jsx";
import DefaultImage from "./DefaultImage.astro";
import type { loadRenderers } from "astro/virtual-modules/container.js";

interface Props{
    title: string,
    imgSrc: string,
    alt: string,
    path: string,
}

/*must have this structure otherwise it will crash*/
const { title, imgSrc, alt, path } = Astro.props;

/*key hook to engage in animation*/
const onClick = () => {

    let button = document.getElementById("button");
    let element = document.getElementById("frontcard")


    button.addEventListener("click", () => {
        element.classList.remove("animate-(--animate-spin-card)")
        element.classList.add("animate-(--animate-spin-card)")
    })
}


---

<div class="card rounded-lg"
     style = {{
     }}>

    {/*button to flip */}
    <OneActionButton class="absolute top-[5%] right-5 z-50 w-5 h-5 grow" actionEvent={onClick} />

    {/*front of card*/}
    <div id="frontcard"
            style={{
                rotateY: "180deg",
            }} >

        <a href={path} class="relative">
            <DefaultImage divclassName="" source={imgSrc} alt={alt} />
            <CardTitleCustomClass title={title} class="absolute bottom-10 left-10 w-full" />
        </a>


    </div>

    {/*back of the card*/}
    <div
            style={{
                opacity: "0",
            }} class="card-back">


        <a href={path}>
            <DefaultParagraph para={"the information on this is kinda back but dont worry it gets better as I write out this small brief so " +
                "stay tuned from some cool information "} client:load/>
        </a>
    </div>


</div>

