---
import "../styles/global.css"
import {Image} from "astro:assets";

interface Props{
    source:string,
    alt:string,
    uri:string,
    size:any,
}

const {source, alt, uri, size} = Astro.props

const sizes = {
    sm: 'h-10 w-10',
    md: 'h-16 w-16',
    lg: 'h-24 w-24',
}

const sizeClass = typeof size === "number"
    ? ""
    : sizes[size] ?? sizes.md;
const customStyle = typeof size === "number"
    ? `width:${size}px;height:${size}px;`
    : undefined;

---

<div>
    <a style={customStyle} href={uri} target="_blank" class={'inline-block flex picture-link transition duration-200 ease-in-out rounded-4xl items-center justify-center ${sizeClass} shadow-2xl overflow-hidden'}>
        <Image class="object-fill object-center" src={source} alt={alt} loading="eager"/>
    </a>
</div>